html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  background: hsl(180, 52%, 96%);
  font-size: 15px;
  margin: 0;
  font-family: 'Spartan', sans-serif;
}
header {
  background: url(../images/bg-header-mobile.svg) hsl(180, 29%, 50%);
  background-size: cover;
  height: 156px;
  margin-bottom: 55px; /*TODO: upgrade this state*/ 
}
main {
  padding: 0 24px;
}
.job-box {
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
  border-left: 5px solid hsl(180, 29%, 50%);
  border-radius: 5px;
  height: 257px;
  padding: 35px 25px 25px 20px;
  position: relative;
}
.job-box > img {
  height: 49px;
  width: 49px;
  position: absolute;
  top: -24.5px;
}
.informations {
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(180, 8%, 52%);
}
.title {
  font-weight: 700;
  margin: 12px 0 21px 0;
}
.details {
  color: hsl(180, 8%, 52%);
  font-weight: 500;
}
.enterprise {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}
.new {
  color: white;
  background:hsl(180, 29%, 50%);
  padding: 0.25em;
  border-radius: 15px;
}
/* .job-box > div {
  height: 50%;
} */